<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {% stylesheets '@SearchBundle/Resources/css/movieBlock.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block movie %} {% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
