.center{
    width:70%;
    margin: auto;
    text-align: center;
}

.movieBlock{
    display: inline-block;
    border: solid;
    width: 150px;
    overflow: auto;
}

.movieBlock img{
    width: 150px;
    height: 150px;
}

.movieBlock p{
    display: inline;
    margin: 2px;
}

