{% extends 'base.html.twig' %}

{% block movie %}

    <div class="center">

        {% for movie in pagination.items %}
            {% image '@SearchBundle/Resources/img/movie.jpg' %}

            <div class="movieBlock">
                <a href="{{ path('movie_detail', {'movieID' : movie['imdbID']}) }}">
                    <img src="{{ asset_url }}">
                </a>

                <div align="center">
                    <p> {{ movie['Title'] }} </p>
                    <p> {{ movie['Year'] }} </p>

                </div>
            </div>
            {% endimage %}
        {% endfor %}
    </div>
    <div class="center">
        {% for page in pagination.pages %}
            <a href="?page={{ page }}">{{ page }}</a> |
        {% endfor %}
    </div>



    {#{% for movie in movies %}#}
    {#<div class="movieBlock">#}
    {#<a href="{{ path('movie_detail', {'movieID' : movie['imdbID']}) }}">#}
    {#<img src="{{ movie['Poster'] }}">#}
    {#</a>#}

    {#<div align="center">#}
    {#<p> {{ movie['Title'] }} </p>#}
    {#<p> {{ movie['Year'] }} </p>#}

    {#</div>#}
    {#</div>#}
    {#{% endfor %}#}
    {#</div>#}

{% endblock %}
