{% extends 'base.html.twig' %}

{% block body %}

    <div style="width: 50%; margin: auto; background-position: center; border: solid; overflow: auto; background-color: #AAAAAA ; ">

        <h2 style="text-align: center"> {{ movie['Title'] }} - {{ movie['Year'] }}</h2>
        <div style="width: 50%; float: left; display: inline-block;">
            <ul style="list-style-type: none;">
                <li>
                    <p> Gepubliceerd op: {{ movie['Released'] }} </p>
                </li>
                <li>
                    <p> Tijdsduur: {{ movie['Runtime'] }} </p>
                </li>
                <li>
                    <p> Genre: {{ movie['Genre'] }}</p>
                </li>
                <li>
                    <p> Regisseurs: {{ movie['Director'] }}</p>
                </li>
                <li>
                    <p> Schrijver: {{ movie['Writer'] }} </p>
                </li>
                <li>
                    <p> Acteurs: {{ movie['Actors'] }} </p>
                </li>
                <li>
                    <p> Taal: {{ movie['Language'] }} </p>
                </li>
                <li>
                    <p> Land: {{ movie['Country'] }} </p>
                </li>
                <li>
                    <p> Awards: {{ movie['Awards'] }} </p>
                </li>
                <li>
                    <p> imdb rating: {{ movie['imdbRating'] }} </p>
                </li>
                <li>
                    <p> Aantal ratings: {{ movie['imdbVotes'] }} </p>
                </li>
            </ul>
        </div>
<div>
    {% image '@SearchBundle/Resources/img/movie.jpg' %}

    <object data="{{ asset_url }}"
            type="image/png"
            style="float: right; width: 200px; height: 200px; margin: 2px;">
        <img src="{{ movie['Poster'] }}">
    </object>
    <p style="float: right;"> {{ movie['Plot'] }}</p>
    {% endimage %}
</div>


    </div>

{% endblock %}
