{% extends 'base.html.twig' %}

{% block body %}

    <p> Hello World! </p>

    {{ form_start(form) }}
    {{ form_end(form) }}
    {{ form_widget(form) }}

    {% if error is defined %}
        <p>{{ error }}</p>
    {% endif %}

{% endblock %}
